#xpqcrxHome .fr{float: right;}
#xpqcrxHome .fl{float: left;}

#xpqcrxHome,#xpqHomeContainer,#xpqNotesDetailContainer{
    font-family: 'Microsoft Yahei';
    width: 400px;
    min-height: 260px;
    max-height: 800px;
    box-sizing: border-box;
}
#xpqHomeContainer,#xpqNotesDetailContainer{
    display: inline-block;
    vertical-align: top;
    min-height: 200;
    transition: all .3s ease-out;
    font-size: 16px;
}

#xpqCarouse{
    width: 900px;
    font-size: 0;
}

#xpqcrxHome .Header {
    z-index: 1;
    padding: 4px 12px;
    height: 40px;
    line-height: 40px;
    color: #24292e;
    font-size: 16px;
    border-bottom: 1px #e1e4e8 solid;
}

#xpqcrxHome .btn{
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    text-decoration: none;
    border-radius: 0.25em;
    transition: opacity .4s;
}
#xpqcrxHome .black-btn{
    color: rgba(255, 255, 255, .85);
    background: #24292e;
    border: 1px solid rgba(27,31,35,0.2);
}
#xpqcrxHome .red-btn{
    color: rgba(255, 255, 255, .85);
    background: #f36c46;
    border: 1px solid #f35c36; 
}
#xpqcrxHome .dark-red-btn{
  color: rgba(255, 255, 255, .85);
  background: #d35c36;
  border: 1px solid #f35c36;
  display: none; 
}

#xpqcrxHome .btn:focus{
    outline: none;
}
#xpqcrxHome .btn:hover{
  outline: none;
  opacity: .8;
}


#xpqNoteList{
    padding: 8px 12px;
    list-style-type: none;    
}

#xpqNoteList li{
    margin-bottom: 6px;
    cursor: pointer;
    color: #24292e;
    font-size: 18px;
    transition: color .3s;
}
#xpqNoteList li:hover{
    color: #888;
}

#xpqNoteWrapper{
    /* padding:4px 12px; */
    /* box-sizing: border-box; */
    width: 380px;
    padding: 20px;
    padding-top: 13px;
}

#xpqNewNoteTitleInput{
    width: 100%;
    margin-bottom: 12px;
}

#xpqNewNoteTextarea{
    width: 100%;
    min-height: 80px;
    margin-bottom: 20px;
}

#xpqNewNoteContainer{
    padding: 20px;
    display: none;
}

#xpqNotesDetailContainer{
}
