#xpqcrxHome .fr{float: right;}
#xpqcrxHome .fl{float: left;}

#xpqcrxHome,#xpqHomeContainer,#xpqNotesDetailContainer{
    font-family: 'Microsoft Yahei';
    width: 400px;
    min-height: 200px;
    max-height: 800px;
    box-sizing: border-box;
}
#xpqHomeContainer,#xpqNotesDetailContainer{
    display: inline-block;
    vertical-align: top;
    min-height: 200;
    transition: all .3s ease-out;
    font-size: 16px;
}

#xpqCarouse{
    width: 900px;
    font-size: 0;
}

#xpqcrxHome .Header {
    z-index: 1;
    padding: 4px 12px;
    height: 40px;
    line-height: 40px;
    color: #24292e;
    font-size: 16px;
    border-bottom: 1px #e1e4e8 solid;
}

#xpqcrxHome .btn{
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    text-decoration: none;
    color: rgba(255, 255, 255, .85);
    background: #24292e;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    transition: background .4s;
}
#xpqcrxHome .btn:focus{
    outline: none;
}
#xpqcrxHome .btn:hover{
    background: #575c5f;
}


#xpqTodoList{
    padding: 8px 12px;
    list-style-type: none;    
}

#xpqTodoList li{
    margin-bottom: 6px;
    cursor: pointer;
    color: #24292e;
    font-size: 18px;
}

#xpqNotesDetailContainer{
}
